@font-face {
    font-family: 'GongGothicBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {margin: 0; padding: 0; box-sizing: border-box;}
body {height: 200000px; font-family: 'Anton', sans-serif;}
em {font-style: normal;}
.scroll {
    position: fixed; right: 10px; top: 10px;
    width: 50px; height: 50px; line-height: 50px;
    text-align: center; color: #fff;
    background: rgba(0,0,0,0.5);
    z-index: 1000000;
}

#section1{position: relative; z-index: 9000;}
#section2{position: relative; z-index: 8000; background: #ccc; height: 710vh;}

.sec1{width: 100%; height: 1000vh; background:#333;}

/* #section1 {background: #333; position: relative; z-index: 9000;}
#section2 {position: fixed; z-index: 8000; background: #333; height: 200vh;}
#section3 {position: relative; z-index: 6000; background: #555;}
#section4 {background: #333;}
#section5 {background: #333;}
#section6 {background: #333;} */


/* common */
.fixed {
    position: fixed;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
.fixed2 {position: fixed; left: 0; top: 0;} 
img {
    width: 100%;
    vertical-align: top;
    object-fit: cover;
}
em{color: hotpink;}
span{color: #333; font-size: 5vw;}
.off {opacity: 0;}
.right {transform: translateX(33vw);}
.center {transform: translateX(4vw);}
.left {transform: translateX(-30vw);}

/* SECTION1 */
.s1Txt01{color: #fff; font-size: 6vw; left: 20%;}
.s1Txt02{color: #fff; font-size: 6vw; left: 53%;}
.s1Txt03{color: #fff; font-size: 6vw; left: 53%;}
.s1Txt04{color: #fff; font-size: 6vw; left: 53%;}
.s1Txt05{background: url(./assets/img/slideimg3bg.jpg)no-repeat center/cover;}
.s1Txt05 span{position: absolute; left:0%; top: 50%; font-size: 4vw; height: 5vh; width: 100%;}
/* //SECTION1 */

.sec2 {
    background-image: linear-gradient(to top, #3d2d27 0%, #000 100%);
    position: fixed;left: 0; top: 0;overflow: hidden; font-family: 'S-CoreDream-8Heavy';
    width: 500vw; height: 100vh;}
.sec2 > div {width: 100vw;height: 100vh;float: left;display: flex;align-items: center;
    justify-content: center;color: #fff;font-size: 4vw;}
.sec2 p{font-size: 4vw; color: #fff; font-family: 'GongGothicBold'; text-align: center; line-height: 6vw;}
.sec2 > div:nth-child(1) {}
.sec2 > div:nth-child(2) {}
.sec2 > div:nth-child(3) {}
.sec2 > div:nth-child(4) {}
.sec2 > div:nth-child(5) {}