@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{font-size: 14px;}


.slider.active .slider_text strong {transition: all 0.4s 0.1s ease;}
.slider .slider_text .title {transition: all 0.4s 0.3s ease;}
.slider.active .slider_text p {transition: all 0.4s 0.5s ease;}
.slider.active .slider_text .click {transition: all 0.4s 0.7s ease;}

body.fadeOut .slider.active .slider_text strong {opacity: 0;}
body.fadeOut .slider .slider_text .title {opacity: 0;}
body.fadeOut .slider.active .slider_text p {opacity: 0;}
body.fadeOut .slider.active .slider_text .click {opacity: 0;}


/* header */
#header {
    position: fixed; left: 0; top: 0; 
    width: 100%; height: 100px; z-index: 3000; 
    background: transparent; 
    display: flex; justify-content: space-between; 
    align-items: center;
}
#header .port {
    flex: 0 0 22%;
    text-align:center;
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    font-weight: normal;
}
#header .port em {
    display: block;
    font-weight: normal;
}
#header .tit {
    flex: 0 0 56%;
    height: 100px;
}
#header .nav {
    flex: 0 0 22%;
    height: 100px;
}
#header .nav .ham {
    width: 50px; 
    height: 50px;
    margin: 23px auto;
    position: relative;
}
#header .nav .ham span {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 30px; height: 3px;
    display: block;
}
#header .nav .ham span::before {
    content: '';
    width: 30px; height: 3px;
    display: block;
    position: absolute;
    left: 0;
    top: -8px;
    background: #fff;
}
#header .nav .ham span::after {
    content: '';
    width: 30px; height: 3px;
    display: block;
    position: absolute;
    left: 0;
    bottom: -8px;
    background: #fff;
}


main {
    background: #111;
}


/* 오른쪽메뉴ham */
.menu-toggle {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 80px;
    cursor: pointer;
    z-index: 1000000;
  }
  .menu-toggle.on .one {
    z-index: 100000;
    -webkit-transform: rotate(45deg) translate(7px, 7px);
    -moz-transform: rotate(45deg) translate(7px, 7px);
    -ms-transform: rotate(45deg) translate(7px, 7px);
    -o-transform: rotate(45deg) translate(7px, 7px);
    transform: rotate(45deg) translate(7px, 7px);
  }
  .menu-toggle.on .two {
    z-index: 100000;
    opacity: 0;
  }
  .menu-toggle.on .three {
    z-index: 100000;
    -webkit-transform: rotate(-45deg) translate(8px, -10px);
    -moz-transform: rotate(-45deg) translate(8px, -10px);
    -ms-transform: rotate(-45deg) translate(8px, -10px);
    -o-transform: rotate(-45deg) translate(8px, -10px);
    transform: rotate(-45deg) translate(8px, -10px);
  }
  
  .one,
  .two,
  .three {
      /* 메뉴아이콘 */
    width: 100%;
    height: 5px;
    background: white;
    margin: 6px auto;
    backface-visibility: hidden;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    z-index: 100000;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 4em auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(60%);
  }
  nav ul li{
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    font-size: .5rem;
    width: 24%;
    margin: 1%;
  }
  nav ul li:hover,svg:hover{
    animation: move 2s 1 linear;
  }
  @keyframes move {
      0% {top: 0%;}
     50% {top: 10%;}
    100% {bottom: 50%;}
  }
  nav ul li svg{
      margin-bottom: 10%;
      animation: ani2 2s infinite linear alternate-reverse;
    }
    @keyframes ani2 {
        0%   {stroke-dashoffset:600;}
        100% {stroke-dashoffset: 0;}
    }
  nav ul.hidden {
    z-index: 100000;
    display: none;
  }
  nav ul a {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    text-decoration: none;
    color: white;
    font-size: 3em;
    line-height: 1.5;
    width: 100%;
    display: block;
  }
  nav ul a:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .menu-section.on {
    z-index: 100000;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
  }




/* main */
/* slider */
.slider-img .slider {position: absolute; width: 100%; height: 100vh; overflow: hidden; z-index: 20;}
.slider-img .slider::before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100vh;
    background: rgba(0,0,0,0.5);
}



.slider-wrap{position: relative; height: 100vh; overflow: hidden;}
.slider-img{ position: absolute; width: 100%; height: 100vh;}
.slider-img .slider{width: 100%;height: 100vh;overflow: hidden;}
.slider-img .slider:nth-child(1){background: url(../img/slideimg1bg.png) no-repeat center center/cover;}
.slider-img .slider:nth-child(2){background: url(../img/slideimg2bg.png) no-repeat center center/cover;}
.slider-img .slider:nth-child(3){background: url(../img/mainbg3.jpg) no-repeat center center/cover;}
.slider-img .slider:nth-child(4){background: url(../img/mainbg4.jpg) no-repeat center center/cover;}

/* slider Text,svg,img 이미지슬라이더 */
.slider .slider_text { 
    position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
    width: 100%; text-align: center; color: #fff; font-family: 'NEXON Lv1 Gothic OTF'; font-weight: 900;
}
.slider .slider_text .title {font-size: 6rem; line-height: 4.2rem; padding-top: 0.9rem; margin-top: 1rem}
.slider .slider_text span.chapter{font-size:0.5rem; font-weight: 400; font-weight: 300;}
.slider .slider_text span.title{font-size: 8rem; font-weight: 900;}
.slider .slider_text{position: relative; z-index: 2000;}
.slider .slider_text a.click {
    font-size: 1rem; color: #fff; z-index: 1000; display: inline-block; border: 1px solid #fff; 
    padding: 15px 40px 15px 40px;
    margin-top: 30px;
}
.slider .slider_text p {font-family: 'NEXON Lv1 Gothic OTF Light'; font-size:1rem; margin-top: 4vh; }

/* slider middle svg */
.slider .slider_svg{position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); z-index: 1000;}
.slider .slider_img {}
.slider .slider_img img {transform: translate(-50%, -50%); position: absolute;  top: 20%; right: -10%; width: 50%;}


/* .sec1 .slider_img img:nth-child(1){ width: 100%; position: absolute; transform: translate(50%, 50%); top: 10%; left: -20%;}
.sec1 .slider_img img:nth-child(2){ width: 100%; position: absolute; transform: translate(50%, 50%); top: 10%; left: 13%; z-index: 10;}
.sec2 .slider_img img:nth-child(1){position: absolute; left: 2%; bottom: -1%; width: 50%;}
.sec2 .slider_img img:nth-child(2){position: absolute; right:4%; top: -1%; width: 50%;}
.sec3 .slider_img img:nth-child(1){position: absolute; transform: translate(50%, 40%); top: 0%; left: 0%;}
.sec4 .slider_img img:nth-child(1){position: absolute; left: 0%; top: 0%; width: 40%; width: 100%;} */
.slider .slider_count {position: absolute; left: 10%; top: 87%; transform: translate(-50%,-50%); font-size:1rem; font-family: 'NEXON Lv1 Gothic OTF'; color: #fff;}
.slider .slider_count::before{content: '';width: 90%; height: 100%; /* background: #fff; */ position: absolute; left: -10px; top: 0; }
.slider .slider_count span{margin-right: 40px;position: relative;}
.slider .slider_count span:first-child::before{content: '';position: absolute;right:-30px;bottom: 7px;width: 20px;height: 1px;background:#fff;}

/* slider-dot */
.slider-nav{}
.slider-nav a{position: absolute; width: 100px; height: 100vh; bottom: 0; z-index: 2000;}
.slider-nav a svg{width: 18px; height: 18px; position: absolute;}
.slider-nav a.prev{left: 0;}
.slider-nav a.prev svg{left: 0; bottom: 40px; margin: 45px 0 0 40px; transform: rotate(45deg);}
.slider-nav a.next{right: 0;}
.slider-nav a.next svg{right: 0; bottom: 40px; margin: 40px 50px 0 40px; transform: rotate(-135deg);}
/* slider-page */
.slider-dot{
    position: fixed; left: 50%; transform: translateX(-50%); 
    width: 100%; bottom: 0; height: 100px; z-index:1000; text-align: center; line-height: 100px;
}
.slider-dot a {
    text-indent: -9999px; display: inline-block; 
    width: 10px; height: 10px; border-radius: 50%; border: 1px solid #eee; color: #fff; 
    font-weight: normal; margin: 0 20px; line-height: 9px; text-align: center;
}
.slider-dot a.active {border: 0; color: #fff; text-indent: 0px; width: 50px; text-align: center;}

/* sliderAnimation */
.slider .slider_text {
    padding: 150px 0;
    background: rgb(2,0,36);
    background: linear-gradient(314deg, rgba(2,0,36,0.7) 0%, rgba(0,129,156,0.3) 100%);
    position: relative;
}
.slider .slider_text strong {overflow: hidden;}
.sec1 {position: relative; height: 100vh;}
.slider .slider_text em {
    text-transform: uppercase;
    overflow: hidden; display: block; font-family: 'NEXON Lv1 Gothic OTF Bold';}
.slider .slider_text strong span {display:inline-block; transform: translate(0, 100px); transition: all 1s; font-size: 1.2rem; font-weight: 400; line-height: 1;}
.slider .slider_text em span {display:inline-block; transform: translate(0, 200px); transition: all 1s;}
.slider .slider_text a:hover{ background: #fff; color: #000;}
.slider .slider_text p {opacity: 0; transition: all 1s;}
.slider .slider_text .click {opacity: 0; transition: all 1s;}


.slider.active .slider_text strong {display: inline-block; overflow: hidden;}
.slider.active .slider_text strong span {transform: translate(0,0);}
.slider.active .slider_text strong span:nth-child(1) {transition-delay: 0.55s;}
.slider.active .slider_text strong span:nth-child(2) {transition-delay: 0.50s;}
.slider.active .slider_text strong span:nth-child(3) {transition-delay: 0.65s;}
.slider.active .slider_text strong span:nth-child(4) {transition-delay: 0.60s;}
.slider.active .slider_text strong span:nth-child(5) {transition-delay: 0.75s;}
.slider.active .slider_text strong span:nth-child(6) {transition-delay: 0.70s;}
.slider.active .slider_text strong span:nth-child(7) {transition-delay: 0.85s;}
.slider.active .slider_text strong span:nth-child(8) {transition-delay: 0.80s;}
.slider.active .slider_text strong span:nth-child(9) {transition-delay: 0.95s;}
.slider.active .slider_text strong span:nth-child(10) {transition-delay: 0.90s;}
.slider.active .slider_text strong span:nth-child(11) {transition-delay: 1.00s;}

.slider.active .slider_text em span {transform: translate(0,0);}
.slider.active .slider_text em span:nth-child(1) {transition-delay: 0.05s;}
.slider.active .slider_text em span:nth-child(2) {transition-delay: 0.10s;}
.slider.active .slider_text em span:nth-child(3) {transition-delay: 0.15s;}
.slider.active .slider_text em span:nth-child(4) {transition-delay: 0.20s;}
.slider.active .slider_text em span:nth-child(5) {transition-delay: 0.25s;}
.slider.active .slider_text em span:nth-child(6) {transition-delay: 0.30s;}
.slider.active .slider_text em span:nth-child(7) {transition-delay: 0.35s;}
.slider.active .slider_text em span:nth-child(8) {transition-delay: 0.40s;}
.slider.active .slider_text em span:nth-child(9) {transition-delay: 0.45s;}
.slider.active .slider_text em span:nth-child(10) {transition-delay: 0.50s;}
.slider.active .slider_text em span:nth-child(11) {transition-delay: 0.55s;}

.slider.active .slider_text p {opacity: 1; transition-delay: 1.55s;}
.slider.active .slider_text .click {opacity: 1; transition-delay: 1.65s;}

/* .lines */
.lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    pointer-events: none;
    user-select: none;
}



.lines__h, .lines__v {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.lines__h:after, .lines__h:before {
content: "";
}

.lines__v:after, .lines__v:before {
content: "";
}

.lines__h span, .lines__h:after, .lines__h:before {
position: absolute;
background-color: #fcffe4;
opacity: .25;
backface-visibility: hidden;
}

.lines__v span, .lines__v:after, .lines__v:before {
position: absolute;
background-color: #fcffe4;
opacity: .25;
backface-visibility: hidden;
}

.lines__h:after {
width: 100%;
height: 1px;
left: 0;
transform: scaleX(0) translateZ(0);
transition: transform 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.lines__h:before {
width: 100%;
height: 1px;
left: 0;
transform: scaleX(0) translateZ(0);
transition: transform 2s cubic-bezier(0.165, 0.84, 0.44, 1);
top: 99px;
transform-origin: right center;
}

.lines__h:after {
bottom: 99px;
transform-origin: left center;
}

.lines__h.quarter:after, .lines__h.quarter:before {
transform: scaleX(0.25) translateZ(0);
}

.lines__h.semi:after, .lines__h.semi:before {
transform: scaleX(0.5) translateZ(0);
}

.lines__h.quarter3:after, .lines__h.quarter3:before {
transform: scaleX(0.75) translateZ(0);
}

.lines__h.shown:after, .lines__h.shown:before {
transform: scaleX(1) translateZ(0);
}

@media (max-width: 1024px) {
.lines__h:before {
top: 69px;
}
}

@media (max-width: 768px) and (orientation: landscape) {
.lines__h:before {
top: 49px;
}
}

@media (max-width: 1024px) {
.lines__h:after {
bottom: 69px;
}
}

@media (max-width: 768px) and (orientation: landscape) {
.lines__h:after {
bottom: 49px;
}
}

@media (max-width: 768px) {
.lines__v {
display: none;
}
}

.lines__v span, .lines__v:after {
width: 1px;
height: 100%;
bottom: 0;
transform: scaleY(0) translateZ(0);
}

.lines__v:before {
width: 1px;
height: 100%;
bottom: 0;
transform: scaleY(0) translateZ(0);
left: 22%;
}

.lines__v span, .lines__v:before {
transform-origin: center top;
transition: transform 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.lines__v span {
right: 33%;
transition-duration: 1.5s;
}

.lines__v:after {
right: 22%;
transform-origin: center bottom;
transition: transform 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.lines__v.quarter:after, .lines__v.quarter:before {
transform: scaleY(0.25) translateZ(0);
}

.lines__v.semi:after, .lines__v.semi:before {
transform: scaleY(0.5) translateZ(0);
}

.ines__v.quarter3:after {
transform: scaleY(0.75) translateZ(0);
}

.lines__v.quarter3:before {
transform: scaleY(0.75) translateZ(0);
}

.lines__v.shown:after, .lines__v.shown:before {
transform: scaleY(1) translateZ(0);
}

@media (max-width: 768px) {
.lines__crosses {
display: none;
}
}

.lines__crosses__x {
position: absolute;
width: 10px;
height: 10px;
transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.lines__crosses__x:after {
content: "";
position: absolute;
background-color: #fff;
opacity: 0.6;
}

.lines__crosses__x:before {
content: "";
position: absolute;
background-color: #fff;
opacity: 0.6;
width: 10px;
height: 1px;
top: 50%;
transform: translateY(-50%) scaleZ(2);
}

.lines__crosses__x:after {
width: 1px;
height: 10px;
left: 50%;
transform: translateX(-50%) scaleZ(2);
}

.lines__crosses__x:first-child, .lines__crosses__x:nth-child(2), .lines__crosses__x:nth-child(5) {
top: 100px;
}

.lines__crosses__x:first-child, .lines__crosses__x:nth-child(3) {
left: 22%;
}

.lines__crosses__x:nth-child(2), .lines__crosses__x:nth-child(4) {
right: 22%;
}

.lines__crosses__x:nth-child(3), .lines__crosses__x:nth-child(4), .lines__crosses__x:nth-child(6) {
bottom: 100px;
}

.lines__crosses__x:nth-child(5), .lines__crosses__x:nth-child(6) {
right: 33%;
opacity: 0;
}

.lines__crosses__x:first-child {
transform: translate(-50%, -50%);
}

.lines__crosses__x:nth-child(2), .lines__crosses__x:nth-child(5) {
transform: translate(50%, -50%);
}

.lines__crosses__x:nth-child(3) {
transform: translate(-50%, 50%);
}

.lines__crosses__x:nth-child(4), .lines__crosses__x:nth-child(6) {
transform: translate(50%, 50%);
}

@media (max-width: 1024px) {
.lines__crosses__x:first-child, .lines__crosses__x:nth-child(2), .lines__crosses__x:nth-child(5) {
top: 70px;
}
}

@media (max-width: 768px) and (orientation: landscape) {
.lines__crosses__x:first-child, .lines__crosses__x:nth-child(2), .lines__crosses__x:nth-child(5) {
top: 50px;
}
}

@media (max-width: 1024px) {
.lines__crosses__x:nth-child(3), .lines__crosses__x:nth-child(4), .lines__crosses__x:nth-child(6) {
bottom: 70px;
}
}

@media (max-width: 768px) and (orientation: landscape) {
.lines__crosses__x:nth-child(3), .lines__crosses__x:nth-child(4), .lines__crosses__x:nth-child(6) {
bottom: 50px;
}
}